extends layout

block content
	h1= title
	p Welcome to #{title}

	h2 How to use :
	p use /images?display=option:

	p
		strong option 
		| must be mobile,retina,tablet,desktop or wide 
		br
		| good meow :3